@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
}

/* toggle */
input#toggle:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fff;
}
input#toggle:checked ~ .block {
  @apply bg-blue-2;
}
/* proceed */

input#proceed:checked ~ .block {
  @apply bg-blue-2;
}
input#proceed:checked ~ .choice > .proceed-choice {
  @apply text-black;
}
